body{
  text-decoration: none;
  background-color: #0d1b2a;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  /* text-align: center; */
}

#foto-principal {
  border-radius: 10px;
  background-color: red;
  padding: 5px;
}

.cabecalho {
  background-color: royalblue;
}

.cabecalho nav p a:hover {
  background-color: green;
}