.pointer:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: 0.2s;
}

.pointer:not(:hover) {
  transition: 0.2s;
}

.header-options {
  width: 500px;
  justify-content: space-around;
  color: whitesmoke;
}

.home-header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  background-color: rgb(113, 18, 177);
}

.main-backgrounds {
  height: calc(100vh - 4rem);
}

@media screen and (max-width: 768px) {
  #github, #linkedin, #projects, #contact, #home {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(140, 74, 184);
  }
}
