@media (max-width: 768px) {
  .header-options {
    top: 0;
    position: fixed;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(113, 18, 177);
    height: 100vh;
    width: 300px;
    padding-top: 3.5rem;
  }
}